/* Start Navbar */
.navbar {
  overflow: hidden;
  background: #c70000;
  /* border-bottom: solid #c6c5c5 2px; */
}
.navbar a {
  float: left;
  display: block;
  color: rgb(42, 38, 38);
  text-align: center;
  padding: 14px 0 20px 0;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #c70000;
  color: rgb(188, 187, 187);
  font-weight: rgb(62, 61, 61);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1.5s ease;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* End Start Navbar */

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh; /* Sesuaikan dengan kebutuhan Anda */
}
