/* Start Navbar */
.navbar {
  overflow: hidden;
  background: #c70000;
  /* border-bottom: solid #c6c5c5 2px; */
}
.navbar a {
  float: left;
  display: block;
  color: rgb(42, 38, 38);
  text-align: center;
  padding: 14px 0 20px 0;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #c70000;
  color: rgb(188, 187, 187);
  font-weight: rgb(62, 61, 61);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1.5s ease;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* End Start Navbar */

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000vh; /* Sesuaikan dengan kebutuhan Anda */
  /* border: 3px solid #c70000;  */
  /* border-top: 10px solid #383636; Blue */
  width: 1000vh;
  background-color: #fff;
  border-radius: 10%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
